<div class="container-fluid w-screen">

	<div class="row">
		<div class="col">
			<%= render 'market' %>
		</div>

		<div class="col">
			<%= render 'wallet' %>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-7">
			<%= render 'openorders' %>
		</div>
		<dir class="col-sm-5">
			<%= render 'trade' %>
		</dir>
	</div>

	<!--div class="row">
		<div class="col">
			<%#= render 'chart' %>
		</div>
	</div-->

	<div class="row">
		<div class="col">
			<%= render "historyorders"%>
		</div>
	</div>
	
</div>