<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Bittrexbot" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Bittrexbot" %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" media="all" href="/shared/style.css" />
  <script type="text/javascript" src="/shared/app.js"></script>

</head>
<body>
  <script type="text/javascript">var market = [];</script>
  <header>
   <%= render 'layouts/navigation' %>
 </header>
 
   <%= render 'layouts/messages' %>
   <%= yield %>
 
</body>
</html>
